body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../Imagens/mapa.jpg");
  background-size: cover;
  font-family: 'arial', sans-serif;
}

h1 {
  color: rgb(0, 0, 0);
}

.container {
  display: flex;
  justify-content: center;
  height: 40vh;
  width: 48vh;
  align-items: center;
  text-align: center;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.3);
  background-size: cover;
  transition: all 0.2s ease;
  font-family: 'arial', sans-serif;
  }

  .container:hover {
    width: 50vh;
    height: 48vh;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 40px 40px 2px rgba(0, 0, 0, 0.9);
  }

input {
    width: 320px;
    padding: 15px;
    background-color: transparent;
    text-align: left;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
    }
  
    input:focus {
      border-color: rgb(0, 0, 0);
    }

    fieldset {
      width: 280px;
      padding: 26px;
      text-align: left;
      align-items: center;
      border: 2px solid #000000;
      border-radius: 10px;
    }
    
      ::placeholder {
        color: black;
        text-align: left;
      }

    button {
      width: 90px;
      height: 30px;
      align-items: center;
      background-color: black;
      color: rgb(255, 255, 255);
      border-radius: 10px;
      border-color: rgb(0, 0, 0);
      border-style: double;
      cursor: pointer;
      transition: all 0.2s ease;
      background: cover;
    }
    
    button:hover {
      width: 100px;
      color: rgb(0, 0, 0);
      background-color: transparent;        
    }

    a {
    color: rgb(0, 0, 0);
    }