body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1687201364205-6ec23f194c9d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80");
    background-size: cover;
    font-family: 'arial', sans-serif;
  }
  
  h1 {
    color: rgb(0, 0, 0);
  }
  
  .container {
    display: flex;
    padding: 5vh;
    justify-content: center;
    height: 80vh;
    align-items: center;
    text-align: center;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: rgb( 255, 255, 255, 0.3);;
    transition: all 0.2s ease;
    font-family: 'arial', sans-serif;
    }
  
    .container:hover {
      padding: 7vh;
      background-color: rgb( 255, 255, 255, 0.8);
      box-shadow: 40px 20px 2px rgba(0, 0, 0, 0.9);
    }
  
  input {
      width: 260px;
      padding: 15px;
      background-color: transparent;
      text-align: left;
      align-items: center;
      box-sizing: border-box;
      border: 3px solid #000000;
      border-radius: 10px;
      }
    
      input:focus {
        border-color: rgb(0, 0, 0);
     
      }
  
   fieldset {
      width: 280px;
      padding: 26px;
      text-align: left;
      align-items: center;
      border: 2px solid #000000;
      border-radius: 10px;
    }
    
      ::placeholder {
        color: black;
        text-align: left;
      }
  
      button {
        width: 90px;
        height: 30px;
        background-color: black;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        border-color: rgb(0, 0, 0);
        border-style: double;
        cursor: pointer;
        transition: all 0.2s ease;
        background: cover;
      }
      
      button:hover {
        width: 100px;
        color: rgb(0, 0, 0);
        background-color: transparent;        
      }
  
  .social-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
  .gmail-btn {
    background-color: #dd4b39;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
  }
  
  .facebook-btn {
    background-color: #3b5998;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
  }
  
  .social-btn:hover {
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  hr {
    border-color: black;
  }

  a {
    color: rgb(0, 0, 0);
  }