body {
  background-color: black;
}

header {
  background-image: url("https://img.freepik.com/fotos-premium/terra-no-fundo-do-banner-horizontal-com-espaco-de-texto-mostra-o-mapa-do-mundo-da-america-meio-ambiente-do-dia-da-terra_45716-78.jpg?w=996");
  background-position: center;
  background-size: cover;
  padding: 40px;
  margin: 2px;
  width: auto;
  height: auto;
  align-items: center;
  text-align: left;
  color: white;
}

h1 {
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}
nav {
  color: white;
  text-align: center;
}

.container {
  display: flex;
  color: white;
  background-color: black;
  background-position: center;
  background-size: cover;
  padding: 2px;
  align-items: center;
  text-align: left;
  width: auto;
  height: auto;
  margin-top: 100px;
}

.text {
  flex: 1;
  padding: 20px;
}

.imagem img {
  flex: 1;
  text-align: center;
  max-width: 100%;
  height: 80vh;
}

footer {
  background-image: url("https://img.elo7.com.br/product/zoom/2C4E53D/mapa-mundi-em-cortica-5mm-divisoes-paises-150cm.jpg");
  margin-top: 100px;
  background-position: center;
  background-size: cover;
  padding: 40px;
  width: auto;
  height: auto;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
}

a {
  color: rgb(255, 255, 255);
}