body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(0, 0, 0);
    background-image: url("https://images.unsplash.com/photo-1687800132770-8f1600a5849e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1528&q=80");
    background-size: cover;
    font-family: 'Arial' sans-serif; 
}

.container {
  display: flex;
  width: 60vh;
  height: 84vh;
  justify-content: center;
  margin: 6vh;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.3);
  background-size: cover;
  transition: all 0.2s ease;
  font-family: 'arial', sans-serif;
  }

  .container:hover {
    width: 64vh;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 40px 20px 2px rgba(0, 0, 0, 0.8);
  }

  input {
  width: 280px;
  height: 26px;
  background-color: transparent;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 8px;
  }

  input:focus:hover {
    transition: all 0.2s ease;
    border-color: rgb(0, 0, 0);
    background-color: rgb(200, 200, 200, 0.315);
  }
  
input[type="checkbox"] {
  margin-top: 25px;
  width: 10px;
}

  ::placeholder {
    color: black;
  }

  fieldset {
    width: 300px;
    padding: 10px;
    border: 50vh;
    text-align: left;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
  }

  button {
    width: 38%;
    padding: 5px 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 100px;
    border-color: rgb(3, 3, 3);
    border-style: double;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 10px;
    background: cover;
  }
  
  button:hover {
    width: 40%;
    color: black;
    background-color: transparent;
  }